body{
    margin: 0;
    background-color:rgb(57, 94, 56);
    font-family: sans-serif;

}

.todo-container{
   
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

h1{
    margin: 0;
    margin-bottom: 10px;
    color: gray;
}

.input-section{
    background-color:rgb(57, 98, 60);
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 6px 6px #3a5640e0;
    
}


.input-section input{
    border-radius: 5px;
    border: 1px solid rgb(81, 109, 81);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: rgb(57, 98, 60);
    color: gray;
    
    
}

input::placeholder{
    color:gray;
}

ul{
   
    text-align: left;
    padding: 0;
}


ul li{
    display: flex;
    list-style: none;

    line-break: anywhere;
    
  
}


ul li i{
    text-align: right;
    flex: 1;
    margin: 10px;
    margin-left: 15px;
}